.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px;
  margin-top: 5px;
}

.text {
  margin: 0px 5px;
  font-size: 0.8rem;
  font-weight: 500;
  color: rgb(46, 46, 46);
}

.select {
  padding: 5px 5px;
  margin: 0px 5px;
  border: 1px solid rgb(211, 211, 211);
  background-color: white;
  border-radius: 4px;
}

.select:hover {
  cursor: pointer;
}

.button {
  font-weight: 800;
  padding: 7px 11px;
  margin: 0px 5px;
  background-color: white;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 4px;
}

.button:hover {
  background-color: rgb(233, 233, 233);
  cursor: pointer;
}

.button:active {
  background-color: rgb(153, 153, 153);
}